# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]

# ملفات تنفيذية أو برامج غير مستخدمة في Render
*.exe
*.svg

# أدوات المتصفح (غير مستخدمة حالياً)
chromedriver.exe

# ملفات إعدادات بيئية (في حال إضافتها لاحقاً)
.env

# ملفات النظام أو محررات النصوص
.DS_Store
Thumbs.db
